<footer>
    <div class="content-padding">
        <div class="footer-conent">
            <p>Copyrigth</p>

            <div class="social-media-icons">
                <a href="#"><i class=""fa fa-empire></i>ss</a>
                <a href="#"><i class=""fa fa-rebel></i></a>
            </div>

        </div>
    </div>
</footer>